<div class="card mb-3" style="max-width: 540px;margin: 20px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://via.placeholder.com/200x300" class="card-img-top" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= course.title.capitalize %></h5>
            <p class="card-text">
              <span class="text-muted"><%= course.votes %> likes</span>
              <%= link_to '+1', upvote_course_path(course), method: :patch, class: 'btn btn-primary btn-sm', remote: true %>
            </p>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</p>
            <div class="text-right" style="margin-top: 40px">
              <h6 class="card-subtitle mb-2 text-muted"><%= course.professor.email %></h6>
              <p class="card-text">
                <span class="text-muted"><%= course.professor.votes %> likes</span>
                <%= link_to '+1', upvote_professor_path(course.professor), method: :patch, class: 'btn btn-primary btn-sm', remote: true %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>